dist: xenial
language: node_js
matrix:
  include:
  - os: linux
    node_js: 12
  - os: osx
    node_js: 12
addons:
  chrome: stable
  firefox: latest
services:
- xvfb
script:
- travis_retry npm run ci
before_deploy:
- sed -i 's/"private":\ true/"private":\ false/' package.json
- sed -i -E 's/^dist\/?.*$//' .gitignore
deploy:
  provider: npm
  email:
    secure: ww1P29w6mvispNikPUBhc9iFsc0sYlFNA+aOwsLxl46p2+Jxmb9xlsP2pweswIpQMFzT+SIeFcnqzflfUkmYSN9J5ULHLjAiDptPkzv0dzAAI2VewjiADYdG/Ii/ujdjXGWfFIutwUt6tHlMc3l6Jjlk4RvW3PD0H25f5M5hZz6Jbky8FrQ6z9PKQYUJcDgnW2pg7V7lBssyY8a2gJBRvVJeAR7bMwDGRdxedBdXj3e6CE8SjWdd388yQcJhSdx6JRgim/FNx/05PIElDgZzaaKjzMUNCvYcC1tHNLqmqolKanenWv3OXaEEEcq0p4HmRIWXREOVtkJIbG8vr+lDy7a3YydrTZVZYSKZXS1CtzJFrGLYu4R2NsISLArnftZxK+e2VyzXbpMoiojYgZWcNAbDfY3X9RMxumTc99Rm7zN4iQ3NQOUa9YuQVqRkmCVLsw2XHSqgtpqVDFmpxpuZbi2Kpfyol6ZE4uh12uLehiq/3MYZlPYjmVds1qyYNZLyViu/N3zTw2BuT+tSTT6KIS1a6BeBY6Pq2M5A4dTCu6Xgtd0WXExLHtS1KnQcxbpADjoWD6uQvNspK3s6fbCGBZu08LeSNag7mkgielxIM0jLweknyNX9VlFVNg58R2ZJsMpHjfnUVEIqbhvGx3gmo9vgUbgoHahUkwy98GFr8x0=
  api_key:
    secure: "Mb+lH4JWWo8m4yVXd8pejC1PFGemBPzGw8BcuztE5lX9zg7INftkdoN3KTCS/0GtCpyQPF2HiKNigTuX8cbVLfdcqeoqKH4vjhqA3j3myZxxm4b62mMVU6LGRkCFEQsMZZ8Sd99qFD2UwD8GUZ8FAfzsNYQIffpGzVEErwohk6iV96fo950n5KDgcU33QAY6JKbBG+gx8HdFQqFBda+UTdkvML/Q3ER+j/hUaUM2EK8gjxM56wJPqzTOYFsTLQoHcoKKAb8+HlTQDQXHfBSggQ7QcGHRMBCtJRnkUnEWUrSOzBm7/qiOCpq4WHp6RrpstwJlE9Rf/JiuXNS1dP+RRROOJsp77aRbkXuPVWAWa9EEh5HoeKgJjGahovnWTY2okj45QCwpCDKYQInfbSI3/Pwaa1ylJ4NvkH9HP79CMlm9/6jILdo+Km3PGXZbTcP0rXXWHkCStDr7trcN652QfsZCiFCo/fHmv9eQPlT0dvTCWNwCx7MdoMa5eskreZ6KXXdRWrcJS8WXQjCkRet/RN5nMiQBf2q6LHXos7hKjTkXAjSmCC/K3sexlPF84HF19D86J0Iya/vdfUhnUDhZ1yEsk5jBq5rhF1Ty8phuqWgasbYh7XE/j/51yTfyG6RyVr0JM2dZiGkm6wpIQ2M9dPIpsfG0sPTyDkybUHqh6LU="
  on:
    branch: master
    node: 12
    condition: $TRAVIS_OS_NAME = linux
  skip_cleanup: true
notifications:
  email:
    recipients:
    - secure: ww1P29w6mvispNikPUBhc9iFsc0sYlFNA+aOwsLxl46p2+Jxmb9xlsP2pweswIpQMFzT+SIeFcnqzflfUkmYSN9J5ULHLjAiDptPkzv0dzAAI2VewjiADYdG/Ii/ujdjXGWfFIutwUt6tHlMc3l6Jjlk4RvW3PD0H25f5M5hZz6Jbky8FrQ6z9PKQYUJcDgnW2pg7V7lBssyY8a2gJBRvVJeAR7bMwDGRdxedBdXj3e6CE8SjWdd388yQcJhSdx6JRgim/FNx/05PIElDgZzaaKjzMUNCvYcC1tHNLqmqolKanenWv3OXaEEEcq0p4HmRIWXREOVtkJIbG8vr+lDy7a3YydrTZVZYSKZXS1CtzJFrGLYu4R2NsISLArnftZxK+e2VyzXbpMoiojYgZWcNAbDfY3X9RMxumTc99Rm7zN4iQ3NQOUa9YuQVqRkmCVLsw2XHSqgtpqVDFmpxpuZbi2Kpfyol6ZE4uh12uLehiq/3MYZlPYjmVds1qyYNZLyViu/N3zTw2BuT+tSTT6KIS1a6BeBY6Pq2M5A4dTCu6Xgtd0WXExLHtS1KnQcxbpADjoWD6uQvNspK3s6fbCGBZu08LeSNag7mkgielxIM0jLweknyNX9VlFVNg58R2ZJsMpHjfnUVEIqbhvGx3gmo9vgUbgoHahUkwy98GFr8x0=
    on_success: change
    on_failure: always
